---
language: python
services: docker

env:
  global:
    - ROLE_NAME: xcp-ng_guest-utilities
  matrix:
    - MOLECULE_DISTRO: centos7
    - MOLECULE_DISTRO: centos6

install:
  # Install test dependencies.
  - pip install molecule docker

before_script:
  # Use actual Ansible Galaxy role name for the project directory.
  - cd ../
  - mv $ROLE_NAME vmpr.$ROLE_NAME
  - cd vmpr.$ROLE_NAME

script:
  # Run tests.
  - molecule test

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
